<template>
<div class="card col-2" style="width: 10rem;">
  <img class="card-img-top" :src="imageUrl" alt="Book Image">
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <p class="card-text">Written By: {{ authorName }}</p>
  </div>
</div>
</template>

<script>
export default {
    name: 'Book',
    props: {
        authorName: String,
        imageUrl: String,
        title: String
    }
}
</script>

<style scoped>

</style>
