<template>
<div class="container-fluid" style="padding-top: 30px;">
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" v-model="term" />
        </div>
        <div class="col">
            <button :disabled="searching" @click="searchBooks()" type="button" class="btn btn-success">Search</button>
        </div>
    </div>
    <div class="row" style="padding-top: 30px;">
        <template v-for="(book, index) in books" :key="book.title + index">
            <Book :authorName="book.authorName" :imageUrl="book.imageUrl" :title="book.title" />
        </template>
    </div>
</div>
</template>

<script>
import Book from './Book';

export default {
    name: 'SearchBooks',
    components: {
        Book
    },
    data() {
        return {
            term: '',
            books: [],
            searching: false
        }
    },
    methods: {
        searchBooks() {
            this.searching = true;
            fetch(`https://goodreads-server-express--dotdash.repl.co/search/${this.term}`)
                .then(data => data.json())
                .then(results => {
                    this.searching = false;
                    this.books = results.list;
                });
        }
    }
}
</script>

<style scoped>

</style>
