<template>
  <SearchBooks />
</template>

<script>
import SearchBooks from './components/SearchBooks.vue'

export default {
  name: 'App',
  components: {
    SearchBooks
  }
}
</script>

<style>

</style>
